@import "tailwindcss";
@import "@neondatabase/auth/ui/tailwind";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
